body {
    background-color: #3c7899;

    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;

    border-radius: 8px;
    margin: auto;
    padding: 15px;
    
    width: 500px;
    height: auto;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

input {
    border-radius: 5px;
    border: 0;
    background-color: #dadcdd;
    height: 18px;
}

select {
    border: 0;
    background-color: #dadcdd;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}